.error{
    color: red;
    /* background-color:rgb(5,1,1); */
    width:90%;
    border-radius: 20px;
    margin-left: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.invalid{
    border-color: red ;
}